@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 14px !important;
  background-color: var(--light-secondary);
  font-family: "Nunito Sans", sans-serif !important;
}

.wrapper-mobile {
  width: 480px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0px 0px;
}

/* Responsive */
@media (max-width: 576px) {
  .wrapper-mobile {
    max-width: 385px; /* Lebar maksimal container selebar ponsel */
  }

  .navbar {
    max-width: 385px;
  }
}

/* Responsive */
